.header {
    background: var(--main-bg-cl);
    border-bottom: 1px solid #ececec;
}

.heder__container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-toggle {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.icon-menu:hover,
.icon-menu:focus {
    background-color: rgba(0, 0, 0, 0.1);
    fill: #2196f3;
}



.menu-toggle.icon-cross {
    display: none;
}

.menu-toggle.is-open .icon-cross {
    display: block;
}

.menu-toggle.is-open .icon-menu {
    display: none;
}


