/*=========================
==== section Hero  
==========================*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--darc-bg-cl);
}

.overlay {
    max-width: 1600px;
    height: 600px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, .4),
            rgba(47, 48, 58, .4)),
        url(../images/hero/Img.jpg);
}

.hero__name {
    width: 696px;
    color: #fff;
    text-align: center;
    font-family: var(--main-font);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}