.portfolio {
    background-color: var(--main-bg-cl);
}

.portfolio__list {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.portfolio__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}