:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* text colors */
    --accent-cl: #2196f3;
    --main-txt-cl: #757575;
    --secondary-txt-cl: #212121;
    /* bacgraund-colors */
    --darc-bg-cl: #2f303a;
    --main-bg-cl: #fff;
    --secondary-bg-cl: #f5f4fa;
    /* grid items */
    --items: 1;
    --indent: 30px;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    scroll-behavior: smooth;
}


body {
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.42px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    /* outline: 1px solid red; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}

.link:hover,
.link:focus {
    color: #2196f3;
}

/* логічний заголовок */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/*  
    |=============================
    | Сітка для колекції з елементов 
    |=================================
*/
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.grid-item {
    flex-basis: calc(100%-var(--indent) * (var(--items) - 1)) / var(--items);
}

/* 
|=====================
|  = header section =
======================
*/
.header {
    background: var(--main-bg-cl);
    border-bottom: 1px solid #ececec;
}

.heder__container {
    display: flex;
    align-items: center;
}

/* Логотип logo */

.logo {
    margin-right: 93px;
    color: var(--accent-cl);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo__part {
    color: var(--secondary-txt-cl);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

/*   Oсновна новігація сайту  navigation   */

.navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__item:last-child {
    margin-right: 0;
}


.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms var(--timing-function);
}

.navigation__title.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-cl);
}

.navigation__title {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

/*   header__grup   */


.header-grup {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}

.header-grup__item {
    margin-right: 50px;
}

.header-grup__item:last-child {
    margin-right: 0;
}

.header-grup__mailto {
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms var(--timing-function);
}

.header-grup__phone {
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms var(--timing-function);
}

.mail:hover,
.mail:focus {
    color: var(--accent-cl);
}

.text:hover,
.text:focus {
    color: var(--accent-cl);
}

.studio-link {
    display: flex;
    align-items: center;
    color: #757575;
}

.studio-icon {
    margin-right: 10px;
    fill: currentColor;
}

/*=========================
==== section Hero  
==========================*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--darc-bg-cl);
}

.overlay {
    max-width: 1600px;
    height: 600px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/Img.jpg);
}

.hero__name {
    width: 696px;
    color: #fff;
    text-align: center;
    font-family: var(--main-font);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #2196f3;
    min-width: 152px;
    min-height: 30px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    padding: 10px, 32px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    cursor: pointer;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    transition: background-color 250ms var(--timing-function);
}

.btn:hover,
.btn:focus {
    border-radius: 4px;
    background-color: var(--accent-cl);
}


/* ===============================
===== Модальне вікно ===========
=================================*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-function),
        visibility 250ms var(--timing-function);
    z-index: 3;
}

/* Початковий стан елементу перед анімаціей */

.backdrop.is-hidden .modal__wrapper {
    transform: translate(-50%, -50%) scale(0.4);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal__wrapper {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
    width: 528px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    z-index: 4;
}

.modal-btn--close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10);
    background-color: transparent;
    stroke-width: 1px;
    transition: fill 250ms var(--timing-function);
    transition: border-color 250ms var(--timing-function);
}

.modal-btn--close:hover,
.modal-btn--close:focus {
    fill: var(--accent-cl);
}

.modal__icon-close {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

/* modal form */
.modal-form {
    display: block;
    margin: 0;
    padding: 0;
}

.modal-form__label {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-form__title {
    display: block;
    width: 448px;
    color: var(--secondary-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
}

.modal-form__input {
    margin: 0;
    padding: 10px 40px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.20);
    margin-top: 4px;
    transition: border-color 250ms var(--timing-function);
}

.modal-form__input:focus {
    border-color: var(--accent-cl);
    outline: none;
}

.modal-form__input:focus~.modal-form__icon {
    fill: var(--accent-cl);
}

.modal-form__desk {
    display: block;
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(50%);
    transition: transform 250ms var(--timing-function);
    transition: fill 250ms var(--timing-function);
}

/* form-modal-textarea */

.modal-form__textarea {
    width: 100%;
    padding: 12px 16px;
    margin-top: 4px;
    color: rgba(117, 117, 117, 0.50);
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    background-color: transparent;
    resize: none;
    transition: border-color 250ms var(--timing-function);
}

.modal-form__textarea:focus {
    border-color: var(--accent-cl);
    outline: none;
}

/*  Умови договору   checkbox */
.modal-form__policy-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.modal-form__custon-checkbox {
    width: 16px;
    height: 15px;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    outline: 2px solid var(--secondary-txt-cl);
    outline-offset: -2px;
    transition: background-color 250ms var(--timing-function);
    transition: fill 250ms var(--timing-function);
    transition: outline 250ms var(--timing-function);
}


.modal-form__checkbox:checked+.modal-form__custon-checkbox {
    background-color: var(--accent-cl);
    fill: #ffffff;
    outline: var(--accent-cl);
}

.modal-form__checkbox:focus~.modal-form__custon-checkbox {
    outline: 2px solid var(--accent-cl);
    outline-offset: -2px;
}

.modal-form__icon-checkbox {
    opacity: 0;
    transition: opacity 250ms var(--timing-function);
}

.modal-form__checkbox:checked+.modal-form__custon-checkbox .modal-form__icon-checkbox {
    opacity: 1;
}

.modal-form__desk-checkbox {
    margin-top: 20px;
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71%;
    letter-spacing: 0.42px;
}

.modal-form__span-desk {
    padding-left: 4px;
    color: var(--accent-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71%;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

/*  form-modal-btn  */

.modal-form__btn--send {
    display: block;
    min-width: 152px;
    min-height: 30px;
    width: 200px;
    height: 50px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 52px;
    padding-bottom: 10px;
    padding-left: 52px;
    color: var(--main-bg-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: var(--accent-cl);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function);
    border: transparent;
}

.modal-form__btn--send:hover,
.modal-form__btn--send:focus {
    background-color: #188CE8;
}

/* ======================
==  section Feature  Особливості
========================*/
.feature {
    background-color: var(--main-bg-cl);
    padding-bottom: 0;
}

.feature__container {
    display: flex;
    align-items: center;
}



.feature__list {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
}

.feature__item {
    margin-right: 30px;
    width: 270px;
    flex-shrink: 0;
}

.feature__rectangle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.feature__item:last-child {
    margin-right: 0;
}

.feature__subtitle {
    margin-bottom: 10px;
    color: var(--secondary-txt-cl);
    font-family: var(--main-txt-cl);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.feature__desc {
    flex-shrink: 0;
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

/* =======================
==section Services     Чим ми займаємося 
========================== */
.services {
    background-color: var(--main-bg-cl);
    z-index: 1;
}

.title-services {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--secondary-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.list-services {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.item-services {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 30px;
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.item-services::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    z-index: 1;
}

.services-desk {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-bg-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    z-index: 2;
}

.item-services:last-child {
    margin-right: 0;
}

/* ========================
==section Our team   Наша команда   
========================= */
.team {
    background-color: var(--secondary-bg-cl);
}

.title-team {
    color: var(--secondary-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.list-team {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.item-team {
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.item-team:last-child {
    margin-right: 0;
}

.blok-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.subtitle-team {
    margin-bottom: 10px;
    color: var(--secondary-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.desc-team {
    margin-bottom: 16px;
    color: var(--main-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.socials-list {
    justify-content: center;
}

.socials-item {
    margin-right: 10px;
}

.socials-item:last-child {
    margin-right: 0;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    fill: #afb1b8;
    transition: background-color 250ms var(--timing-function);
}

.socials-icon {
    transition: fill 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
    background-color: #2196f3;
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
    fill: #ffffff;
}

/* ===========================
== section Portfolio        
=============================*/
.portfolio {
    background-color: var(--main-bg-cl);
}

.portfolio-list {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.portfolio-item {
    margin-right: 8px;
}

.portfolio-item:last-child {
    margin-right: 0;
}

.portfolio-all-btn {
    padding-top: 6px;
    padding-right: 25px;
    padding-bottom: 6.5px;
    padding-left: 25px;
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    width: 73px;
    height: 38px;
    background: var(--accent-cl);
    color: var(--main-bg-cl);
    border-color: transparent;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-all-btn:hover,
.portfolio-all-btn:focus {
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    width: 73px;
    height: 38px;
}

.portfolio-btn {
    display: block;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    color: var(--secondary-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    background-color: var(--secondary-bg-cl);
    border-color: transparent;
    transition: background-color 250ms var(--timing-function),
        color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    border-radius: 4px;
    color: var(--secondary-bg-cl);
    background-color: var(--accent-cl);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.img-portfolio-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.blok-link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
}

.blok-link:hover,
.blok-link:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.blok-link:hover .portfolio-overlay {
    transform: translateY(0);
}

.blok-thumb {
    position: relative;
    display: block;
    overflow: hidden;
}

.portfolio-overlay {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-cl);
    transform: translatey(100%);
    transition: transform 250ms var(--timing-function);
}

.thumb-desc {
    position: absolute;
    width: 322px;
    color: var(--main-bg-cl);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
}

.img-portfolio-item {
    width: 370px;
    --items: 3;
}

.portfolio-blok {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-bottom: 1px solid #eee;
    border-right: solid #eee;
    border-left: solid #eee;
}

.portfolio-title {
    color: var(--secondary-txt-cl);
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.portfolio-desc {
    margin-top: 4px;
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}

/*  ===================
|====section Clients  Постійні клієнти
====================== */
.clients {
    background-color: #fff;
}

.clients-title {
    color: var(--secondary-txt-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.clients-item {
    margin-right: 30px;
}

.clients-item:last-child {
    margin-right: 0;
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition: border-color 250ms var(--timing-function);
}

.clients-link:hover {
    border-color: var(--accent-cl);
}

.clients-icon {
    fill: #afb1b8;
    transition: fill 250ms var(--timing-function);
}

.clients-icon:hover,
.clients-icon:focus {
    fill: var(--accent-cl);
}

/* ======================
======footer         
----------------------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--darc-bg-cl);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}



.address {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.address__desc {
    margin-bottom: 10px;
    color: #fff;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}


.footer__logo {
    margin-bottom: 20px;
    color: var(--accent-cl);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.footer__logo-part {
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.address__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.address__item {
    margin-bottom: 10px;
}

.address__item:last-child {
    margin-bottom: 0;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}

/* socials-footer */

.socials-footer {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-right: auto;
    margin-left: 70px;
}

.socials-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #ffffff;
    transition: background-color 250ms var(--timing-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--accent-cl);
}

.socials-desk {
    margin-bottom: 20px;
    color: var(--main-bg-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

/*   Футер форма  e-mail input*/

.form {
    display: flex;
    align-items: flex-end;
    width: 570px;
    height: 86px;
    margin: 0;
    padding: 0;
}

.form__mail {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.form__label {
    color: var(--main-bg-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form__input {
    padding: 15px;
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms var(--timing-function)
}

.form__input:focus {
    border-color: rgba(255, 255, 255, 0.30);
}

.form__btn {
    width: 200px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 152px;
    min-height: 30px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 12px;
    border-radius: 4px;
    background-color: var(--accent-cl);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function)
}

.form__btn:hover,
.form__btn:focus {
    background-color: var(--accent-cl);
}

.form__btn-desk {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    color: var(--main-bg-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88%;
    letter-spacing: 0.96px;

}

.form__btn-icon {
    display: inline-flex;
}