/* ===========================
== section Portfolio        
=============================*/
.portfolio {
    background-color: var(--main-bg-cl);
}

.portfolio__list {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.portfolio__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }
}