/* socials-footer */

.socials-footer {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-right: auto;
    margin-left: 70px;
}

.socials-footer__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.socials-footer__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.socials-footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #ffffff;
    transition: background-color 250ms var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-cl);
    }
}

.socials-footer__desk {
    margin-bottom: 20px;
    color: var(--main-bg-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}