html {
  scroll-behavior: smooth;
}

body {
  color: var(--main-txt-cl);
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.42px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}