html {
    scroll-behavior: smooth;
}


body {
    color: var(--main-txt-cl);
    font-family: var(--main-font);
    font-size: 14px;
    letter-spacing: 0.42px;
}



.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



