/* ======================
======footer         
----------------------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--darc-bg-cl);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
}



.address {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.address__desc {
    margin-bottom: 10px;
    color: #fff;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}


.footer__logo {
    margin-bottom: 20px;
    color: var(--accent-cl);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.footer__logo-part {
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.address__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.address__item {
    margin-bottom: 10px;
}

.address__item:last-child {
    margin-bottom: 0;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}

/* socials-footer */

.socials-footer {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-right: auto;
    margin-left: 70px;
}

.socials-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #ffffff;
    transition: background-color 250ms var(--timing-function);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: var(--accent-cl);
}

.socials-desk {
    margin-bottom: 20px;
    color: var(--main-bg-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

/*   Футер форма  e-mail input*/

.form {
    display: flex;
    align-items: flex-end;
    width: 570px;
    height: 86px;
    margin: 0;
    padding: 0;
}

.form__mail {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.form__label {
    color: var(--main-bg-cl);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form__input {
    padding: 15px;
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background-color: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms var(--timing-function)
}

.form__input:focus {
    border-color: rgba(255, 255, 255, 0.30);
}

.form__btn {
    width: 200px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 152px;
    min-height: 30px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 12px;
    border-radius: 4px;
    background-color: var(--accent-cl);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--timing-function)
}

.form__btn:hover,
.form__btn:focus {
    background-color: var(--accent-cl);
}

.form__btn-desk {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    color: var(--main-bg-cl);
    text-align: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88%;
    letter-spacing: 0.96px;

}

.form__btn-icon {
    display: inline-flex;
}